*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, 
                rgba(1, 3, 58, 0.98) 0%,
                rgba(0, 2, 33, 0.98) 50%,
                rgba(0, 2, 33, 0.95) 100%);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    padding: 15px 0;
    transition: all 0.3s ease;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.01);
}

body {
    padding-top: 80px;
    background-color: rgba(3, 9, 128);
    background: radial-gradient(at 51.36411372036708% 85.47643828580964%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 88.295178699992% 86.98448945051169%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 10.103948136588992% 78.0395293809522%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%), radial-gradient(at 20.06565278867596% 13.04333840063492%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 5.927917594856968% 74.60244668717951%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 59.24099214401319% 18.253221531085806%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%), radial-gradient(at 9.932714554281151% 41.84151470426984%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 18.61116962907853% 70.14732404608642%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 21.86694218061541% 58.76787016268905%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%);
    height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(at 51.36411372036708% 85.47643828580964%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 88.295178699992% 86.98448945051169%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 10.103948136588992% 78.0395293809522%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%), radial-gradient(at 20.06565278867596% 13.04333840063492%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 5.927917594856968% 74.60244668717951%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 59.24099214401319% 18.253221531085806%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%), radial-gradient(at 9.932714554281151% 41.84151470426984%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 18.61116962907853% 70.14732404608642%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 21.86694218061541% 58.76787016268905%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%);
    z-index: -2;
    opacity: 1;
    pointer-events: none;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

header.scrolled {
    padding: 10px 0;
    background: linear-gradient(to bottom, 
                rgba(3, 9, 128, 0.98) 0%,
                rgba(0, 2, 33, 0.98) 100%);
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

main {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    body {
        padding-top: 70px;
    }

    header nav ul {
        margin-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    header nav ul li {
        padding: 0 15px;
    }

    header a {
        font-size: 16px;
    }

    .btn-contato button {
        padding: 8px 25px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header > .container {
        flex-direction: column;
        gap: 10px
    }

    header nav ul li {
        padding: 0 10px;
    }

    body {
        padding-top: 120px;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: violet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transform: .2s;
}

.btn-contato button:hover {
    box-shadow: 0 0 8px #ac02ac;
    transform: scale(1.05);
}

.projetos-cards .btn {
    font-size: 17px;
    padding: 12px 40px;
    border: none;
    background-color: violet;
    color: rgb(11, 11, 11);
    border-radius: 10px;
    font-weight: 600;
    transform: .2s;
    cursor: pointer;
}

.projetos-cards .btn:hover {
    box-shadow: 0 0 8px #ac02ac;
    transform: scale(1.05);
    /*background-color: #ff00ff;*/
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
}

h2.titulo span {
    color: rgb(255, 0, 255);
}

/* Estilos do Header */

header a {
    color: rgb(253, 248, 248);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
    font-size: 20px;
    font-weight: 600;
}

header a:hover {
    color: rgb(255, 87, 255);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin-left: 300px;
    margin-top: 10px;
}

header nav ul li {
    display: inline-block;
    padding: 0 35px;
}

/* Estilos Topo */

section.topo {
    padding: 40px 4%;
}

section.topo .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1 {
    color: white;
    font-size: 80px;
    line-height: 1.1;
    padding-top: 20px;
}

.topo .txt-topo-site p {
    color: rgb(202, 201, 201);
    font-size: 25px;
    margin: 30px 0;
}

.topo .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 450px;
    height: 450px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilos do Carrossel */
section.carrossel {
    padding: 40px 4%;
    margin-top: 90px;
    overflow: hidden;
}

.carrossel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrossel-itens {
    display: flex;
    gap: 30px;
    width: fit-content;
    padding-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carrossel-itens::-webkit-scrollbar {
    display: none;
}

.carrossel-itens .item {
    flex: 0 0 auto;
    width: 400px;
    height: 400px;
}

.carrossel-itens .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Estilo Des. Gráfico */
section.design-grafico {
    padding: 40px 4%;
}

section.design-grafico h2{
    padding-top: 30px;
}

.design-grafico p {
    color: rgb(202, 201, 201);
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

section.design-grafico .swiper-container {
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.mySwiper{
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.slide-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide-header {
    position: relative;
    top: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
}

.slide-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: none;
}

.swiper-button-prev i,
.swiper-button-next i {
    font-size: 24px;
    color: rgb(3, 9, 128);
}

.swiper-button-prev {
    left: 10%;
}

.swiper-button-next {
    right: 10%;
}

.swiper-slide-active {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .swiper-button-prev {
        left: 5%;
    }

    .swiper-button-next {
        right: 5%;
    }

    .swiper-slide {
        width: 250px;
        height: 400px;
    }
}

/* Estilo UI/UX*/
section.ui-ux {
    padding: 40px 4%;
    text-align: center;
}

.ui-ux h2 {
    margin-top: 10px;
}

.ui-ux p {
    color: rgb(202, 201, 201);
    font-size: 22px;
    margin-bottom: 40px;
}

.cards-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.projetos-cards {
    margin: 10px;
    background: radial-gradient(at 65.92735945809036% 73.99957392732941%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 1) 0%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 0) 100%), radial-gradient(at 87.86523179353583% 91.61160449247639%, hsla(246.89655172413794, 100%, 17.058823529411764%, 1) 0%, hsla(246.89655172413794, 100%, 17.058823529411764%, 0) 100%), radial-gradient(at 63.55460025473965% 14.82174426640781%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 32.93599428478069% 62.96414562818819%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 1) 0%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 0) 100%);                width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.projetos-cards:hover {
    box-shadow: 0 0 8px #4c014c;
    transform: scale(1.05);
}

.projetos-cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-shrink: 0;
}

.projeto-cards .card-content {
    padding: 20px 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.projetos-cards h3 {
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.projetos-cards p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(224, 222, 222);;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: 5;

    max-height: calc(1.5em * 5);
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    margin-top: auto;
    padding: 20px 30px 30px;
    text-align: center;
}

@media (max-width: 1200px) {
    .projetos-cards {
        width: 350px;
        height: 640px;
    }
}

@media (max-width: 768px) {
    .cards-box {
        flex-direction: column;
        align-items: center;
    }
    
    .projetos-cards {
        width: 100%;
        max-width: 400px;
        height: auto;
        min-height: 600px;
    }
    
    .projetos-cards p {
        -webkit-line-clamp: 4;
        -moz-line-clamp: 4;
        max-height: calc(1.5em * 4);
    }
}

/* Estilo Contato */
section.contato {
    padding: 60px 4%;
    margin-top: 60px;
    text-align: center;
}

.container-contato {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.item-contato {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px 30px;
    text-decoration: none;
    transition: all 0.3 ease;
    cursor: pointer;
}

.item-contato:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: violet;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(138, 43, 226, 0.2);
}

.contato-icone {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    flex-shrink: 0;
}

.contato-icone i {
    font-size: 28px;
}

.email .contato-icone {
    background-color: rgba(255, 68, 68, 0.1);
    color: #ff4444;
}

.linkedin .contato-icone {
    background-color: rgba(10, 102, 194, 0.1);
    color: #0a66c2;
}

.whatsapp .contato-icone {
    background-color: rgba(37, 211, 102, 0.1);
    color: #25d366
}

.contato-info {
    text-align: left;
    padding-top: 0px;
}

.contato-info h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}

.contato-info p {
    color: rgba(202, 201, 201);
    font-size: 18px;
    margin: 0;
}

.contato p {
    color: rgb(202, 201, 201);
    font-size: 22px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .item-contato {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }
    
    .contato-icone {
        margin-right: 0;
        margin-bottom: 15px;
    }
    
    .contato-info {
        text-align: center;
    }
    
    .contato-info h3 {
        font-size: 22px;
    }
    
    .contato-info p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {   
    .item-contato {
        padding: 15px;
    }
    
    .contato-icone {
        width: 50px;
        height: 50px;
    }
    
    .contato-icone i {
        font-size: 24px;
    }
    
    .contato-info h3 {
        font-size: 20px;
    }
    
    .contato-info p {
        font-size: 15px;
    }
}

/*Estilo Footer */
footer {
    background: linear-gradient(to bottom, 
        rgba(0, 2, 24, 0.98) 0%,
        rgba(0, 2, 33, 0.98) 50%);    
    padding: 20px 4%;
    text-align: center;
    margin-top: 10px;
}

footer p {
    color: white;
    font-size: 18px;
}