/* Estilos Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    background-color: rgb(3, 9, 128);
    height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: violet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transform: .2s;
}

/* Estilos do Header */
.header {
    padding: 40px 4%;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: rgb(164, 164, 164);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin-left: 250px;
    margin-top: 10px;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #ac02ac;
    transform: scale(1.05);
}

/* Estilos Topo */

section.topo {
    padding: 40px 4%;
}

section.topo .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1 {
    color: white;
    font-size: 80px;
    line-height: 85px;
}

.topo .txt-topo-site p {
    color: rgb(200, 200, 200);
    font-size: 25px;
    margin: 30px 0;
}

.topo .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 450px;
    height: 450px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}