/* Estilos Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    background-color: rgb(3, 9, 128);
    height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilos do Header */
.header {
    padding: 40px 4%;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: rgb(164, 164, 164);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin-left: 250px;
    margin-top: 10px;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: violet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #ac02ac;
}